* {
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: chocolate;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}

header div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    background-image: url(https://www.flaticon.com/svg/vstatic/svg/2111/2111425.svg?token=exp=1611662350~hmac=a1a24063cbaab40a87690478ba071560);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Noto Sans', sans-serif;
}

#input {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    border: solid chocolate;
    margin: 3% auto;
    width: 30%;
    font-size: 200%;
}

#divfoto {
    display: grid;
    grid-template-columns: auto;
    row-gap: 7%;
    column-gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: chocolate;
    
}
#foto {
    display: grid;
    grid-template-columns: auto;
    row-gap: 7%;
    column-gap: 5%;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    color: chocolate;
    font-family: 'Coda Caption', sans-serif !important;
    font-size: 140%;
    font-style: italic;
    text-transform: uppercase;
}

#divfoto img {
    border-radius: 50%;
    width: 50%;
    margin-bottom: 5%;
}


section #div1 {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 7%;
    column-gap: 5%;
    flex-wrap: wrap;
    margin-top: 5%;
    color: chocolate;
    justify-items: stretch;
    width: 100%;
    align-items: center;
}

section #div1 div {
    border-radius: 5%;
    
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.linguagem {
    width: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content button {
    border: none;
    background-color: chocolate;
    color: white;
    text-transform: uppercase;
}

.content button:hover {
    cursor: pointer;
    opacity: 75%;
}

#link {
    color: chocolate;
    font-style: italic;
}
